---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo_cat.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>
      ..::Porfolio de Vanessa Quiquia - Desarrolladora y Programadora Web::..
    </title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>

  <style>
    :root {
      color-scheme: light dark;
    }
    html {
      font-family: "Onest Variable", system-ui, sans-serif;
      scroll-behavior: smooth;
    }
    body {
      background-color: #0a0a0a; /* bg-neutral-950 */
      background-image: radial-gradient(
        ellipse 80% 80% at 50% -20%,
        rgba(120, 119, 198, 0.3),
        rgba(255, 255, 255, 0)
      );

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
